<section id="hero" style="background-color: #8f83a723;">
    
            <div class="" >
                
                    <h2>Welcome to Newlife ,
                        Care & Cure Hospital hospital website</h2>
                    <div>
                        
                       <img src="https://cdn-icons-png.flaticon.com/512/387/387561.png" alt="" width="400px" height="250px">
                    </div>
                        <div>
                            <h5>Know about  Newlife ,
                                Care & Cure the Hospital</h5>
                            <p>Hospital, an institution that is built, staffed, and equipped for the diagnosis of disease; 
                                for the treatment, both medical and surgical, of the sick and the injured; 
                                and for their housing during this process.</p>
                                <p> The modern hospital also often serves as a centre for investigation and for teaching.</p>
                        </div>

                        <h5> The Power to Heal</h5>
                     <p>   The Highest Quality Healthcare.
                     The Hospital of the Future, Today. The hospital you trust to care for those you love. </p>
            </div>
</section>